.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: var(--body-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    list-style: none;
}

.menu__link {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--link-color);
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu__link:hover {
    color: var(--link-active);
}

.light__mode {
    cursor: pointer;
}

.light__mode span {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    font-size: 1rem;
    color: var(--link-color);
    transition: color 0.3s ease;
}

.header__shrink {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background: var(--body-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
