.counter {
    padding: 60px 0;
    background: var(--body-bg);
  }
  
  .counter__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .counter__item {
    width: 30%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    color: var(--heading-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .counter__item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.3);
  }
  
  .counter__number {
    font-size: 3rem;
    margin-bottom: 10px;
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
  }
  
  .counter__title {
    font-size: 1.5rem;
    color: var(--heading-color);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 8px;
  }
  
  .counter__number,
  .counter__title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .counter__number {
    color: var(--primary-color);
    -webkit-text-fill-color: var(--primary-color);
  }
  
  .counter__title {
    color: var(--heading-color);
    -webkit-text-fill-color: var(--heading-color);
  }
  